django
djangorestframework
django-cors-headers
djangorestframework-simplejwt
opencv-python-headless==4.5.5.64
numpy<2.0
pillow
gunicorn
whitenoise
dj-database-url
psycopg2-binary
django-storages

cloudinary
django-cloudinary-storage

google-auth
google-genai
requests
beautifulsoup4
pytesseract
python-dotenv

# AI Image Processing (GFPGAN & LaMa)
torch>=1.7.0
torchvision
gfpgan
basicsr
facexlib
omegaconf
einops
scikit-image
simple-lama-inpainting
razorpay
